*{
    margin: 0%;
    padding: 0%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html,body{
    width:100% ;
    height:100% ;
    margin: 0px;
    padding: 0px;
    overflow-x:hidden ;
    }
@keyframes changeBackground {
    0% {
      background-image: url('Fashion-Clothing.jpg');
    }
    33% {
      background-image: url('clothing-1.jpg');
    }
    66% {
      background-image: url('clothing-2.jpg');
    }
    100% {
      background-image: url('clothing-3.jpg');
    }
  }
  
.header{
    animation: changeBackground 18s infinite;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
}
.logo{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 200px;
    height: 200px;
}
.container{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    background-color: antiquewhite;
    border-radius: 20px;
    width: 35%;
    display: flex;
}
.search input{
    font-size: 18px;
    padding: 15px;
    width: 100%;
    border: 0px;
    text-align: left;
    outline: 0px;
    background: transparent;
}
.search i{
    margin-top: 15px;
    padding-left: 15px;
    font-size: 18px;

}
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content:space-evenly;
    background-color: brown;
    margin-top: 5px;
}
.item li{
    list-style: none;
    padding: 10px 10px;
}
.item a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 900;
    color: rgba(255, 206, 58, 0.806);
}
.item :hover{
    background-color: rgb(255, 255, 255);
    color: black;
    transition:all ease-in 0.15s;
}
.item I{
    font-size: 26px;
    color: white;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
}
.contaner{
    display: flex;
}
.frame{
    margin-top: 100px;
    width: 1100px;
    box-shadow: 0px 0px 5px 1px black;
    height: 40vh;
    overflow: hidden;
    border-radius: 20px;
}
.slide{
    display: flex;
    transition: all 1s ease;
}
.slide img{
    width: 100%;

}
.slide-item1{
    font-size: 100px;
}
.slide-item1 i{
box-shadow: 3px 2px 15px 1px black;
border-radius: 10px;
border-radius: 50%;
width: 100px;
height: 100px;
cursor: pointer;
}
.heading{
    padding: 40px;
    font-size: 34px;
    text-align: left;
}
.container-body{
    display: grid;
    grid-template-columns:repeat(auto-fit , minmax(130px ,1fr));
    align-items: center;
    gap: 50px ;
    justify-content: center;
    justify-content: space-evenly;
}
.item-body{
    padding: 10px;
    cursor: pointer;
}
.item-body img{
width: 150px;
height: 150px;
border-radius: 50%;
}
.item-body h4{
    font-size: 20px;
}
.item-body a{
    text-decoration:  none;
    color: black;
}
.item-body :hover{
    transform: scale(1.1);
    transition:all ease-out 0.55s;
}
.item-contianer{           /*Body styling*/
    display: grid;
    grid-template-columns:repeat(auto-fit , minmax(300px ,1fr));
    min-height: 70vh;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
.item-list img{
    border-radius: 10px;
    width: 100%;
    height: 350px;
}
.item-list{
    width: auto;
    box-shadow: 0px 0px 10px 1px black;
    padding: 20px;
    border-radius: 10px;
}
.item-list figcaption{
    text-align: justify;
    height: 140px;
    font-size: 20px;
}
.item-list :hover{
transition: ease-out 0.55s;
transform: scale(1.03);

}
.buy{
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px 0px;
    border: 2px solid black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.buy h3{
    font-size: 26px;
}
.buy i{
    font-size: 40px;
}
footer {
    background-color: #f4f4f4;
    padding: 40px 20px;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #333;
}

.footer-column p {
    color: #333;
    font-size: 14px;
    margin: 5px 0;
}

.contact p a {
    text-decoration: none;
    color: #0073e6;
}

.social-icons {
    display: grid;
    grid-template-columns:repeat(auto-fit , minmax(60px ,1fr));
    gap: 15px;
    margin-top: 10px;
}
.email{
    width: 70px;
    height: 70px;
}
.social-icons img {

    width: 60px;
    height: 60px;
}
@media screen and (min-width:300px) and (max-width: 450px){
    html,body{
        width:100% ;
        height:100% ;
        margin: 0px;
        padding: 0px;
        overflow-x:hidden ;
        }
    .header{
        animation: changeBackground 18s infinite;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 25vh;
    }
    .logo{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo img{
        width: 100px;
        height: 100px;
    }
    .container{
        width: 100%;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search{
        background-color: antiquewhite;
        border-radius: 20px;
        width: 60%;
        display: flex;
    }
    .search input{
        font-size: 14px;
        padding: 8px;
        width: 100%;
        border: 0px;
        text-align: left;
        outline: 0px;
        background: transparent;
    }
    .search i{
        margin-top: 10px;
        padding-left: 15px;
        font-size: 14px;
    
    }
    .nav-list{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content:space-evenly;
        background-color: brown;
        margin-top: 5px;
    }
    .item li{
        list-style: none;
        padding: 5px 5px;
    }
    .item a{
        text-decoration: none;
        font-size: 8px;
        font-weight: 800;
        color: rgba(255, 206, 58, 0.806);
    }
    .item :hover{
        background-color: rgb(255, 255, 255);
        color: black;
        transition:all ease-in 0.15s;
    }
    .item I{
        font-size: 12px;
        color: white;
    }
    .body{
        display: flex;
        height: 30vh;

    }
    .contaner{
        display: flex;
    }
    .frame{
        margin-top: 100px;
        width: 250px;
        box-shadow: 0px 0px 5px 1px black;
        height: auto;
        margin-bottom: 90px;
        overflow: hidden;
        border-radius: 10px;
    }
    .slide{
        display: flex;
        transition: all 1s ease;
    }
    .slide img{
        width: 100%;
    
    }
    .slide-item1{
        font-size: 40px;
    }
    .slide-item1 i{
    box-shadow: 3px 2px 15px 1px black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    }
    .heading{
        padding: 10px;
        font-size: 28px;
        text-align: left;
    }
    .container-body{
        display: grid;
        grid-template-columns:repeat(auto-fit , minmax(90px ,1fr));
        align-items: center;
        gap: 10px ;
        justify-content: center;
        justify-content: space-evenly;
    }
    .item-body{
        padding: 10px;
        cursor: pointer;
    }
    .item-body img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    }
    .item-body h4{
        font-size: 16px;
    }
    .item-contianer{           /*Body styling*/
        display: grid;
        grid-template-columns:repeat(auto-fit , minmax(250px ,1fr));
        min-height: 70vh;
        gap: 30px;
        align-items: center;
        justify-content: center;
      }
    .item-list img{
        border-radius: 10px;
        width: 100%;
        height: 300px;
    }
    .item-list{
        width: auto;
        box-shadow: 0px 0px 10px 1px black;
        padding: 20px;
        border-radius: 10px;
    }
    .item-list figcaption{
        text-align: justify;
        height: 90px;
        font-size: 16px;
    }
    .buy{
        cursor: pointer;
        margin-bottom: 5px;
        padding: 5px 0px;
        border: 2px solid black;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 18px;
    }
    .buy h3{
        font-size: 24px;
    }
    .buy i{
        font-size: 30px;
    }
    
}
@media screen and (min-width:450px) and (max-width: 750px){
    html,body{
        width:100% ;
        height:100% ;
        margin: 0px;
        padding: 0px;
        overflow-x:hidden ;
        }
    .header{
        animation: changeBackground 18s infinite;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 30vh;
    }
    .logo{
        width: 100%;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo img{
        width: 130px;
        height: 130px;
    }
    .container{
        width: 100%;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search{
        background-color: antiquewhite;
        border-radius: 20px;
        width: 60%;
        display: flex;
    }
    .search input{
        font-size: 18px;
        padding: 8px;
        width: 100%;
        border: 0px;
        text-align: left;
        outline: 0px;
        background: transparent;
    }
    .search i{
        margin-top: 10px;
        padding-left: 15px;
        font-size: 16px;
    
    }
    .nav-list{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content:space-evenly;
        background-color: brown;
        margin-top: 5px;
    }
    .item li{
        list-style: none;
        padding: 5px 5px;
    }
    .item a{
        text-decoration: none;
        font-size: 12px;
        font-weight: 800;
        color: rgba(255, 206, 58, 0.806);
    }
    .item :hover{
        background-color: rgb(255, 255, 255);
        color: black;
        transition:all ease-in 0.15s;
    }
    .item I{
        font-size: 18px;
        color: white;
    }
    .body{
        display: flex;
        height: 25vh;

    }
    .contaner{
        display: flex;
    }
    .frame{
        width: 400px;
        box-shadow: 0px 0px 5px 1px black;
        height: auto;
        margin-bottom: 90px;
        overflow: hidden;
        border-radius: 10px;
    }
    .slide{
        display: flex;
        transition: all 1s ease;
    }
    .slide img{
        width: 100%;
    
    }
    .slide-item1{
        font-size: 60px;
    }
    .slide-item1 i{
    box-shadow: 3px 2px 15px 1px black;
    border-radius: 10px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    }
    .heading{
        padding: 20px;
        font-size: 30px;
        text-align: left;
    }
    .container-body{
        display: grid;
        grid-template-columns:repeat(auto-fit , minmax(110px ,1fr));
        align-items: center;
        gap: 10px ;
        justify-content: center;
        justify-content: space-evenly;
    }
    .item-body{
        padding: 20px;
        cursor: pointer;
    }
    .item-body img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    }
    .item-body h4{
        font-size: 16px;
    }
    .item-contianer{           /*Body styling*/
        display: grid;
        grid-template-columns:repeat(auto-fit , minmax(250px ,1fr));
        min-height: 70vh;
        gap: 30px;
        align-items: center;
        justify-content: center;
      }
    .item-list img{
        border-radius: 10px;
        width: 100%;
        height: 300px;
    }
    .item-list{
        width: auto;
        box-shadow: 0px 0px 10px 1px black;
        padding: 20px;
        border-radius: 10px;
    }
    .item-list figcaption{
        text-align: justify;
        height: 90px;
        font-size: 16px;
    }
    .buy{
        cursor: pointer;
        margin-bottom: 5px;
        padding: 5px 0px;
        border: 2px solid black;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 18px;
    }
    .buy h3{
        font-size: 24px;
    }
    .buy i{
        font-size: 30px;
    }
    
}
@media screen and (min-width:750px) and (max-width: 950px){
    html,body{
        width:100% ;
        height:100% ;
        margin: 0px;
        padding: 0px;
        overflow-x:hidden ;
        }
    .header{
        animation: changeBackground 18s infinite;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 35vh;
    }
    .container{
        width: 100%;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search{
        background-color: antiquewhite;
        border-radius: 20px;
        width: 60%;
        display: flex;
    }
    .search input{
        font-size: 20px;
        padding: 8px;
        width: 100%;
        border: 0px;
        text-align: left;
        outline: 0px;
        background: transparent;
    }
    .search i{
        margin-top: 10px;
        padding-left: 15px;
        font-size: 18px;
    
    }
    .nav-list{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content:space-evenly;
        background-color: brown;
        margin-top: 5px;
    }
    .item li{
        list-style: none;
        padding: 5px 5px;
    }
    .item a{
        text-decoration: none;
        font-size: 18px;
        font-weight: 800;
        color: rgba(255, 206, 58, 0.806);
    }
    .item :hover{
        background-color: rgb(255, 255, 255);
        color: black;
        transition:all ease-in 0.15s;
    }
    .item I{
        font-size: 20px;
        color: white;
    }
    .body{
        display: flex;
        height: 45vh;

    }
    .contaner{
        display: flex;
    }
    .frame{
        width: 700px;
        box-shadow: 0px 0px 5px 1px black;
        height: auto;
        margin-bottom: 90px;
        overflow: hidden;
        border-radius: 10px;
    }
    .slide{
        display: flex;
        transition: all 1s ease;
    }
    .slide img{
        width: 100%;
    
    }
    .slide-item1{
        font-size: 60px;
    }
    .slide-item1 i{
    box-shadow: 3px 2px 15px 1px black;
    border-radius: 10px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    }
    .heading{
        padding: 20px;
        font-size: 32px;
        text-align: left;
    }
    .container-body{
        display: grid;
        grid-template-columns:repeat(auto-fit , minmax(120px ,1fr));
        align-items: center;
        gap: 10px ;
        justify-content: center;
        justify-content: space-evenly;
    }
    .item-body{
        padding: 20px;
        cursor: pointer;
    }
    .item-body img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    }
    .item-body h4{
        font-size: 16px;
    }
    
    
}
@media screen and (min-width:950px){
    .frame{
        width: 1000px;
        box-shadow: 0px 0px 5px 1px black;
        height: auto;
        margin-bottom: 90px;
        overflow: hidden;
        border-radius: 10px;
    }
}
